.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nameSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.MeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  color: black;
  width: 15%;
}

.meImage {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 50%;
}

.navList {
  list-style-type: none;
  padding: 5px;
}

.navList li {
  padding: 5px;
}


h1 {
  font-size: 2rem;
}

.bodySection {
  display: flex;
  flex-direction: column;
}

.carImages {
  width: 100px;
  height: 100px;
}